<html>
<head>
<title>Eagle: Smart Parking | Login</title>
<link rel="stylesheet" type="text/css" href="style/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="style/customStyled.css" />
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.js"></script>
</head>
<body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Eagle Smart Parking</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">How it Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Book Now <span class="badge badge-pill badge-success">Live</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
            </li>
            </ul>
             <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
            </li>
             </ul>
        </div>
        </nav>
<br/>
<div class="card text-center" style="width:20rem; margin-left:40%; margin-right:40%">
        
            <div class="card-block ">
                <h4 class="card-title">Login to Get Started</h4>
                <p class="card-text">Hassle Free parking is now only a few clicks away!</p>
                <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">                                                        
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">                                                        
                        </div>                        
                </form>
                <a href="#" class="btn btn-primary">Login</a> <br/><br/>
                <a href="" class="align-right small">Forgot Password</a>
            </div>
</div>
</body>

</html>